@import 'src/style/shared.scss';

.Input {
	padding: 0.3em 0.4em;
	font-weight: weight(bold);
	background: $offset;
	color: $text;
	line-height: 1.25em;
	max-width: 100%;
	border: 1px solid $border;
	border-radius: $small-radius;

	&:focus {
		outline: none;
		border-color: $borderLight;
	}
}

.CheckboxInput {
	input {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}
