@import 'src/style/shared.scss';

.Input {
	padding: 0.5em 0.8em;
	font-weight: weight(bold);
	background-color: $offset;
	color: $text;
	cursor: pointer;
	line-height: 1.25em;
	max-width: 100%;
	font-size: 0.9em;
	border: 1px solid $border;
}
