@import 'src/style/shared.scss';

.PresentingContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	max-height: 100vh;
	width: 100%;
	border: 2.5vw solid transparent;
	border-width: 2.5vh 4vw;
	box-sizing: border-box;

	$min_width: 480px;
	$max_width: 3840px;
	$min_font: 30px;
	$max_font: 130px;
	@include fluid-type($min_width, $max_width, $min_font, $max_font);

	.text {
		font-weight: 500;
		line-height: 1.4em;
		text-align: center;
		white-space: pre;
		white-space: pre-wrap;
		max-height: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		overflow-wrap: break-word;
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}
}
