# Developer tools' files
.lite_workspace.lua
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.sasslintrc

# Binaries and builds
bin
dist
build
.tmp
*.local

logs
*.log
pnpm-debug.log*

node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
