@import 'src/client/style/shared.scss';

.ContextMenu {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-width: 120px;
	background-color: rgba($background, 0.85);
	backdrop-filter: blur(5px);
	// border: 1px solid $border;
	box-shadow: 0 10px 30px -10px darken($background, 23%);
	border-radius: 3px;
	overflow: hidden;
	font-size: 1rem;
	line-height: 1.8em;
	z-index: 100;
	-webkit-app-region: no-drag;

	&:focus {
		outline: none;
		// border-color: lighten($border, 10%);
	}

	.point {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: start;
		cursor: default;

		&:focus {
			outline: none;
			text-decoration: underline;
		}

		&.break {
			border-top: 1px solid $border;
		}

		&.disabled {
			pointer-events: none;
			opacity: 0.5;
		}

		.icon {
			height: 1.25em;
			width: 1.5em;
			display: grid;
			flex: 0 0 auto;

			svg {
				margin: auto;
				height: 1em;
				width: 1em;
			}
		}

		.text {
			flex: 1 1 auto;
			padding-right: 0.4em;
		}

		&:hover {
			background-color: lighten($background, 8%);
		}
	}
}
