@import 'src/style/shared.scss';

.SongComponent {
	padding-top: 1rem;
	padding-bottom: 1.5rem;
	border-radius: 6px;

	&:nth-child(1) {
		padding-top: 0;
	}

	// &:focus {
	// 	outline: none;
	// 	box-shadow: 0 0 0 2px $offset, inset 0 0 0 2px desaturate(lighten($box, 27%), 10%), inset 0 0 0 4px $offset;
	// }

	&:focus {
		outline: none;

		.title {
			// color: $primary;
			border-bottom-color: $borderLight;
		}
	}

	.title {
		font-size: 1.1rem;
		font-weight: 300;
		color: $text;
		border-bottom: 1px solid $border;
		position: relative;
		z-index: 8;
		padding: 0 #{$padding * 1.5};
		margin: 0 #{-$padding};
		padding-top: 0.5rem;
		padding-bottom: 0.5em;
		position: sticky;
		top: #{-$padding};
		background-color: $offset;
		// background-color: rgba($offset, 0.8);
		// backdrop-filter: blur(10px);
	}

	.slides {
		padding-top: 1rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-auto-rows: max-content;
		grid-gap: $padding;
		// -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));

		@include breakpoint(ultra) {
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		}
	}
}
