@import 'src/style/shared.scss';

.NewTab {
	padding: 1.5rem;
	align-items: center;
	justify-content: space-around;
	--color: #{$text};
	flex-grow: 1;

	.title {
		font-weight: weight(bold);
		font-size: 3.5em;
	}

	.groups {
		// display: flex;
		// flex-direction: row;
		// align-items: stretch;
		// justify-content: space-around;
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: max-content;
		grid-auto-columns: minmax(0, 1fr);
		gap: 1.5rem;

		.group {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			padding: 1.5rem;
			cursor: pointer;
			gap: 1.5rem;
			border-radius: 6px;
			box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.6);
			background-color: $box;

			&:hover,
			&:focus {
				box-shadow: 0 0 0 3px lighten($box, 12%);
			}

			.logo {
				width: 10em;
				height: 10em;
				display: grid;
				color: var(--color);

				svg {
					margin: auto;
				}
			}

			.groupName {
				color: var(--color);
				font-size: 2.5em;
			}
		}
	}

	.events {
		width: 100%;
		max-width: 50em;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: start;
		gap: 1.5rem;

		.org {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-content: start;

			.orgName {
				font-weight: weight(bold);
				font-size: 1.5em;
				padding: 0.5rem 1rem;
				margin-bottom: 0.5em;
				border-bottom: 1px solid lighten($border, 12%);
			}

			.event {
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: stretch;
				justify-content: center;
				cursor: pointer;
				gap: 1.5em;
				padding: 0.5rem 1rem;
				border-radius: 6px;

				&:hover {
					background-color: $box;
					box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.6);
				}

				.evTitle {
					flex-grow: 1;
					font-weight: weight(bold);
				}
			}
		}
	}

	.footer {
		margin-top: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $fadedText;
		// opacity: 0.6;
	}
}
