$header-size: 2.5rem;

$gap: 8px;
$padding: 10px;
$radius: 6px;
$small-radius: 4px;

$font-stack: 'Fira Sans', sans-serif;
$mono-stack: 'Fira Mono', monospace;
$font-size: 15px;

$font-weights: (
	regular: 300,
	bold: 400,
);

@function weight($weight) {
	@return map-get($font-weights, $weight);
}

@mixin page() {
	flex: 1 0 auto;
	align-self: center;
	width: 100%;
	max-width: clamp(40em, 85vw, 60em);
	padding: 1em 1.5em;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-top: 3.9rem;
}

@mixin cleanScrollbar($hide: false, $size: 8px, $margin: 4px) {
	overflow-x: hidden;
	overflow-y: scroll; // fallback because Firefox doesn't support overlay
	overflow-y: overlay;
	scrollbar-width: thin;
	scrollbar-color: $scrollbar rgba(0, 0, 0, 0);

	&::-webkit-scrollbar {
		width: #{$size + $margin};
	}

	&::-webkit-scrollbar-track {
		background: transparent;

		&:hover {
			background: $offset;
			background-clip: padding-box;

			border: #{$margin} solid transparent;
			border-radius: #{($size + $margin) * 0.5};
		}
	}

	&::-webkit-scrollbar-thumb {
		background: $scrollbar;
		background-clip: padding-box;

		border: #{$margin} solid transparent;
		border-radius: #{($size + $margin) * 0.5};
	}
}
