// $background: #1d1e20;
// $box: lighten($background, 2%);
// $border: #4e5157;
// $text: #f1f2f3;
$header-size: 3.625rem;

$background: #172029;
$offset: #10141d;
$box: #27313b;
$border: #2f363d;
$text: #f2f5f8;
$scrollbar: lighten($box, 20%);

$primary: #8b4ec4;
$primary-dark: #5a2877;
$primary-darker: #491f61;
$primary-black: #2f2336;
$primary-neon: #a340ff;
$primary-bright: #cd60ff;

// $red: #ff4c16;
// $green: #90db17;

// $songs: #46eca7;
// $video: #f0324b;
// $powerpoint: #ff9d1d;
// $keynote: #2b6eff;

$red: #f0324b;
$green: #24f091;

// $songs: #2b75ff;
// $video: #aed424;
// $powerpoint: #ff9b3d;
// $keynote: #ff4c16;

$songs: #3a86ff;
$video: #ff006e;
$powerpoint: #ffbe0b;
$keynote: #ff4c16;

$font-stack: 'Fira Sans', sans-serif;
$mono-stack: 'Fira Mono', monospace;
$font-size: 16px;

$font-weights: (
	regular: 300,
	bold: 500,
);

@function weight($weight) {
	@return map-get($font-weights, $weight);
}

@mixin page() {
	flex: 1 0 auto;
	align-self: center;
	width: 100%;
	max-width: clamp(40em, 85vw, 60em);
	padding: 1em 1.5em;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-top: 3.9rem;
}

@mixin cleanScrollbar($hide: false, $size: 8px, $margin: 4px) {
	overflow-x: hidden;
	overflow-y: scroll; // fallback because Firefox doesn't support overlay
	overflow-y: overlay;
	scrollbar-width: thin;
	scrollbar-color: $scrollbar rgba(0, 0, 0, 0);

	&::-webkit-scrollbar {
		width: #{$size + $margin};
	}

	&::-webkit-scrollbar-track {
		background: transparent;

		&:hover {
			background: $offset;
			background-clip: padding-box;

			border: #{$margin} solid transparent;
			border-radius: #{($size + $margin) * 0.5};
		}
	}

	&::-webkit-scrollbar-thumb {
		background: $scrollbar;
		background-clip: padding-box;

		border: #{$margin} solid transparent;
		border-radius: #{($size + $margin) * 0.5};
	}
}
