@import 'src/style/shared.scss';

.SettingsModule {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	gap: $padding;
	position: relative;

	.title {
		font-size: 1.1rem;
		font-weight: 300;
		color: $text;
		border-bottom: 1px solid $border;
		position: relative;
		padding: 0.5rem #{$padding * 1.5};
		margin: 0 #{-$padding};
		padding-top: 0;
	}

	.setting {
		display: flex;
		flex-direction: column;

		label {
			line-height: 1.5em;
		}
	}

	.saveButton {
		padding: 0 $padding;
		background-color: $fadedText;
		color: $background;
		cursor: pointer;
		max-width: 100%;
		border-radius: $small-radius;
		font-size: 0.9em;
		text-align: center;
		padding: 0.5em 1em;

		&:hover {
			background-color: $borderLight;
		}
	}
}
