@import 'src/client/style/shared.scss';

.Header {
	flex-shrink: 0;
	position: relative;
	z-index: 10;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	// border-bottom: 1px solid $border;
	// padding: 0.8em 1.5em;
	background: $background;
	// box-shadow: 0 -15px 50px darken($background, 12%);
	font-size: 1rem;
	line-height: $header-size;
	// padding-top: 1em;
	// overflow: hidden;
	-webkit-app-region: drag;
	$w: 1em;
	$size: 1em;
	padding-top: 1.5em;
	background-color: $offset;

	.background {
		display: none;
	}

	// .background {
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	height: 100%;
	// 	width: 100%;
	// 	z-index: -1;
	// 	background-color: $background;

	// 	&::before {
	// 		content: '';
	// 		display: block;
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 		height: 100%;
	// 		width: 100%;
	// 		-webkit-mask: url('/assets/topography.svg') repeat top left;
	// 		-webkit-mask-size: 700px;
	// 		background-color: $primary-neon;
	// 		background: linear-gradient(145deg, $primary-black, $primary-dark);
	// 	}

	// 	&.focused {
	// 		background-color: $primary-black;

	// 		&::before {
	// 			background: linear-gradient(145deg, $primary-darker, $primary-bright);
	// 		}
	// 	}
	// }

	.controls {
		-webkit-app-region: no-drag;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: center;
		overflow: hidden;

		.control {
			height: 1.5em;
			width: 2.5em;
			padding: 0.3em;
			display: grid;
			cursor: pointer;
			// background-color: rgba(0, 0, 0, 0.2);

			&:hover {
				// background-color: rgba(0, 0, 0, 1);
				background-color: rgba(0, 0, 0, 0.8);
				color: #fff;
			}

			svg {
				height: 100%;
				width: 100%;
			}
		}
	}

	.nav {
		-webkit-app-region: no-drag;
		grid-column: 2;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		z-index: 2;
		max-width: 100%;

		.tabs {
			display: grid;
			grid-auto-columns: minmax(0, 1fr);
			grid-template-rows: max-content;
			position: relative;
			flex: 0 1 auto;
		}

		.add {
			position: relative;
			cursor: pointer;
			display: grid;
			flex: 0 0 auto;
			padding: 0.8em;

			svg {
				margin: auto;
				height: 1.25em;
				width: 1.25em;
				color: darken($text, 30%);
			}

			&:hover,
			&:focus {
				background-color: rgba($background, 0.5);
				color: $text;
			}

			&.active {
				background-color: $background;
				// color: var(--color);
			}
		}
	}

	.present {
		-webkit-app-region: no-drag;
		line-height: 1.25em;
		padding: 0.3em 0.8em;
		margin: 0.4em;
		background-color: $green;
		color: $offset;
		font-weight: weight(bold);
		border-radius: 6px;
		cursor: pointer;

		span {
			font-size: 0.9em;
		}
	}

	/* .status {
		height: $header-size;
		width: #{$header-size * 1.3};
		justify-self: center;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		$size: 1.5em;
		transition: background 0.25s;
		flex: 0 0 auto;

		.icon {
			display: inline-block;
			position: absolute;
			z-index: 1;
			top: calc(50% - #{$size * 0.5});
			left: calc(50% - #{$size * 0.5});
			// transform: translate(#{$size * -0.25}, #{$size * -0.25});
			height: $size;
			width: $size;
			border-radius: 50%;
			pointer-events: none;
		}

		&::before {
			content: '';
			display: inline-block;
			height: $size;
			width: $size;
			position: relative;
			z-index: 2;
			margin-left: -0.05em;
			-webkit-mask: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 3A1.5 1.5 0 0 0 3 5.915v7.335A3.75 3.75 0 0 0 6.75 17h4.5v2.5h-3.5a.75.75 0 0 0 0 1.5h8.5a.75.75 0 0 0 0-1.5h-3.5V17h4.5A3.75 3.75 0 0 0 21 13.25V5.915A1.5 1.5 0 0 0 20.5 3h-17Zm1 3h15v7.25a2.25 2.25 0 0 1-2.25 2.25H6.75a2.25 2.25 0 0 1-2.25-2.25V6Z' fill='%23212121'/%3E%3C/svg%3E")
				no-repeat center center;
			-webkit-mask-size: cover;
			// background: radial-gradient(circle at center, rgba(251,135,153,1) 0%, rgba(231,71,39,1) 100%);
			background: darken($text, 50%);
			transition: background 0.25s;
		}

		&[data-connected='true'] {
			.icon {
				animation: pulse-green 2s 1;
			}

			&::before {
				background: radial-gradient(circle at center, lighten(adjust-hue($green, 20deg), 20%) 0%, $green 100%);
			}
		}

		&[data-connected='false'] {
			.icon {
				animation: pulse-red 2s infinite;
			}

			&::before {
				background: radial-gradient(
					circle at center,
					lighten(adjust-hue($red, -25deg), 18%) 0%,
					$red 80%,
					darken(adjust-hue($red, 8deg), 20%) 100%
				);
			}
		}

		&:hover {
			// background: linear-gradient(0deg, rgba($border, 0.4) 0%, rgba($border, 0.15) 25%, transparent 60%);
			background: radial-gradient(circle closest-corner at bottom center, rgba($border, 0.35), transparent 100%);

			&[data-connected='false'] {
				&::before {
					background: radial-gradient(
						circle at center,
						lighten(adjust-hue($red, -25deg), 20%) 4%,
						lighten($red, 2%) 80%,
						darken(adjust-hue($red, 8deg), 20%) 105%
					);
				}
			}
		}

		&::after {
			$w: 1em;
			content: '';
			position: absolute;
			bottom: -1px;
			left: 50%;
			transform: translateX(-50%);
			height: 1px;
			background: radial-gradient(circle, $border #{$w}, transparent 100%);
			width: 0;
			opacity: 0;
			transition: width 0.25s, opacity 0.25s;
		}

		&:hover,
		&:focus {
			&::after {
				$w: 1em;
				width: calc(100% + #{$w * 2});
				opacity: 0.65;
			}
		}

		@keyframes pulse-green {
			0% {
				transform: scale(0.95);
				box-shadow: 0 0 0 0 rgba($green, 0);
			}
			5% {
				box-shadow: 0 0 0 0 rgba($green, 0.7);
			}
			70% {
				transform: scale(1);
				box-shadow: 0 0 0 10px rgba($green, 0);
			}
			100% {
				transform: scale(0.95);
				box-shadow: 0 0 0 0 rgba($green, 0);
			}
		}

		@keyframes pulse-red {
			0% {
				transform: scale(0.75);
				box-shadow: 0 0 0 0 rgba($red, 0);
			}
			5% {
				box-shadow: 0 0 0 0 rgba($red, 0.7);
			}
			70% {
				transform: scale(1);
				box-shadow: 0 0 0 10px rgba($red, 0);
			}
			100% {
				transform: scale(0.75);
				box-shadow: 0 0 0 0 rgba($red, 0);
			}
		}
	} */
}
