@import 'src/style/shared.scss';

.Sidebar {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: start;
	gap: $gap;

	.tabs {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		gap: $gap;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: start;
		width: 15vw;
		padding: 1rem;
		gap: 1rem;
		padding: $padding;
		border-radius: $radius;
		background-color: $offset;
		position: relative;

		.resizer {
			position: absolute;
			height: 100%;
			width: $gap;
			top: 0;
			right: -$gap;
			cursor: w-resize;
		}
	}
}
