@import 'src/style/shared.scss';

.Sidebar {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: start;
	gap: $gap;

	.tabs {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		gap: $gap;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: start;
		width: 15vw;
		padding: 1rem;
		gap: 1rem;
		padding: $padding;
		border-radius: $radius;
		background-color: $offset;
		position: relative;

		.resizer {
			position: absolute;
			height: 100%;
			width: $gap;
			top: 0;
			right: -$gap;
			cursor: ew-resize;
			transition: background-color 0s;

			&:hover {
				background-color: $border;
				box-shadow: inset 0 0 0 calc(#{$gap * 0.5} - 1px) $background;
				transition: background-color 0s 0.3s;
			}
		}
	}
}
