@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400&family=Fira+Sans:wght@300;400&display=swap');

:root {
	--color-background: #0f0f0f;
	--color-offset: #151617;
	--color-box: #27313b;
	--color-border: rgba(227, 226, 233, 0.15);
	--color-border-light: rgba(227, 226, 233, 0.4);
	--color-text: #f2f5f8;
	--color-faded-text: #8594a3;
	--color-scrollbar: lighten($border, 20%);
	--color-primary: #24f091;
	--color-highlight: rgba(78, 160, 237, 0.6);
	--color-red: #f0324b;
	--color-green: #24f091;

	--root-font: 'Fira Sans', sans-serif;
	--mono-font: 'Fira Mono', monospace;
	--root-weight: 300;
	--bold-weight: 400;
	--root-size: 15px;

	--header-size: 2.5rem;
	--gap: 8px;
	--padding: 10px;
	--radius: 7px;
	--small-radius: 4px;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	width: 100%;
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--root-font);
	font-size: var(--root-size);
	font-weight: var(--root-weight);
	overflow: hidden;
	position: relative;
}

* {
	box-sizing: border-box;
}

button {
	border: 0;
	background: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	font: inherit;
	color: inherit;
}
